/* Backgrounds do tema */
.bg-1 {
  background: #ff073a; /* Vermelho Neon */
}

.bg-2 {
  background: #191919; /* Vermelho Escuro */
}

.bg-3 {
  background: #00dffc; /* Azul Neon */
}

.bg-4 {
  background: #022d5a; /* Azul Escuro */
}

.bg-5 {
  background: #00ff9d; /* Verde/Ciano Neon */
}

.bg-6 {
  background: #111727; /* Azul Dark */
}
