/* Cores do tema */
.cor-1 {
  color: #ff073a; /* Vermelho Neon */
}

.cor-2 {
  color: #e6e6e6; /* Vermelho Escuro */
}

.cor-3 {
  color: #00dffc; /* Azul Neon */
}

.cor-4 {
  color: #022d5a; /* Azul Escuro */
}

.cor-5 {
  color: #00ff9d; /* Verde/Ciano Neon */
}

.cor-6 {
  color: #111727; /* Azul Dark */
}
